.project-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 80%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 10px;
}
.project-overlay {
  background-color: #00000099;
  position: absolute;
  width: 30%;
  height: inherit;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  transition-duration: 1s;
  padding: 10px;
}
.project-wrapper:hover .project-overlay {
  width: 100%;
}
.project-wrapper:hover .project-description {
  display: flex;
}
.project-outer-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  position: relative;
}
.project-list {
  display: block;
}
.project-description {
  display: none;
  position: absolute;
  right: 10px;
  width: 600px;
  padding: 50px;
  opacity: 1;
  background-color: #00000090;
  border-radius: 5px;
}
.project-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  flex-direction: column;
}

.learn-more-button {
  padding: 10px;
  color: white;
  background-color: #ad4b24;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.learn-more-button:hover {
  color: white;
  background: #ad4b24;
  padding: 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
