.jumbo-header-team {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: #4A4949;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  h2 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      letter-spacing: 3px;
      font-size: 1.5em;
  }